<div class="clearfix"></div>	

<footer  style="position: relative;left: 0;bottom: 0; height:3%; width:cover;">
		

		<div class="footer-bottom">
			<div class="container-fluid custom-container">
				<div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 footer-end clearfix">
					<div style="text-align:center;">
						<span style="margin:0 auto; text-align:center; width:187px; color:white">© 2018. All rights reserved. <span class="white"><a href="page1.ejs"> Atmos</a></span></span>
						<!--<span class="created">Created with LOVE by <span class="white"><a href="page1.ejs"> Atmos</a></span></span>-->
					</div>
				</div>			
			</div>
		</div>		
	</footer>