	

<footer>
		
		<div class="footer-main">
			<div class="container-fluid custom-container">
				<div class="row">	
					<div class="col-lg-4 col-md-4">
						<div class="footer-block" style="text-align:center;">
							<h1 class="footer-title">About IDGN</h1>
							<h4><p>INDIGENA is an acronym for INteractive Deep Immmersion into non-GENeric Audio. <br>
                                <br/>
								IDGN stands as abbreviation of INDIGENA which is the name of the project. <a href="about-us.ejs">More info...</a></p></h4><br/>
                            <h1 class="footer-title">About background image</h1>
                            <p>Title: Der Wanderer über dem Nebelmeer 
                            By:  	Caspar David Friedrich <br>
                           <a href="https://en.wikipedia.org/wiki/Wanderer_above_the_Sea_of_Fog" target="_blank">More info...</a>
                            </p>
                            <!--
							<ul class="soc_buttons">
								<li><a href=""><i class="fa fa-facebook"></i></a></li>
								<li><a href=""><i class="fa fa-twitter"></i></a></li>
								<li><a href=""><i class="fa fa-google-plus"></i></a></li>
								<li><a href=""><i class="fa fa-pinterest-p"></i></a></li>
								<li><a href=""><i class="fa fa-instagram"></i></a></li>
								<li><a href=""><i class="fa fa-linkedin"></i></a></li>
							</ul> -->
						</div>
					</div>
                    <div class="col-lg-4 col-md-4 col-sm-12 visible-lg visible-md visible-sm hidden-xs" style="margin: auto 0; text-align: center;">
                        <a class="twitter-timeline" data-width="500" data-height="300" href="https://twitter.com/tractusmx">Tweets by tractusmx</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                    <div class="col-xs-12 hidden-lg hidden-md hidden-sm visible-xs" style="margin: auto 0; text-align: center;">
                        <a class="twitter-timeline" data-width="500" data-height="300" href="https://twitter.com/tractusmx">Tweets by tractusmx</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
					<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"> 
                        <div class="footer-block" style="text-align:center;">
                             <h1 class="footer-title">
                                 Want to talk with us?
                            </h1>
                            <p> Right here a01227020@itesm.mx</p>
                            <a href="https://twitter.com/tractusmx" class="twitter-follow-button" data-show-count="false">Follow @tractusmx</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                            <a href="https://twitter.com/intent/tweet?screen_name=tractusmx" class="twitter-mention-button" data-show-count="false">Tweet to @tractusmx</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </div>
                        </div>	
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="container-fluid custom-container">
				<div class="col-md-12 footer-end clearfix">
					<div class="left">
						<span class="copy">© 2017. All rights reserved. <span class="white"><a href="page1.ejs"> IDGN Network</a></span></span>
						<span class="created">Created with LOVE by <span class="white"><a href="page1.ejs"> IDGN</a></span></span>
					</div>
					<div class="right">
						<a class="btn color-7 size-2 hover-9" href="/about-us.ejs">About Us</a>
						<a class="btn color-7 size-2 hover-9">Privacy Policy</a>
					</div>
				</div>			
			</div>
		</div>		
	</footer>