<div class="clearfix"></div>	

<footer  style="position: relative;left: 0;bottom: 0; height:3%; width:cover;">
		
<!--Para editar el fondo del footer: -> style -> stylesheet.css, línea 730 = footer -->
    
		<div class="footer-bottom">
			<div class="container-fluid custom-container">
				<div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 footer-end clearfix">
					<div style="text-align:left">
						<img src="img/PlystNameWhite.png" align="left" style="width:20%; margin-top:1px;"><br><br><br><br>
                        <span style="margin:0 auto; text-align:left; width:50%; color:white;">© 2018. All rights reserved. <span class="white"><a href="#one"> PlystME</a></span></span>
						<!--<span class="created">Created with LOVE by <span class="white"><a href="page1.ejs"> Atmos</a></span></span>-->
					</div>
                    
                    <div style="text-align:right">
                        <h2>Contacto</h2>
                        <p><span class="glyphicon glyphicon-envelope"></span><span style="display:inline-block; width: 1px;"></span><p>plystme@gmail.com</p>                    
                    </div>
                    
				</div>			
			</div>
		</div>		
	</footer>