<div class="clearfix"></div>	

<footer  style="position: relative; left: 0;bottom: 0px; height:10%; width:100%;">
		
<!--Para editar el fondo del footer: -> style -> stylesheet.css, línea 730 = footer -->
    
		<div class="footer-bottom">
			<div class="container-fluid custom-container">
				<div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 footer-end clearfix">
					<div style="float:left; width:50%; position:relative; font-family: 'Quicksand', sans-serif;">
						<img src="img/PlystNameWhite.png" align="left" style="width:200px; margin-top:1px;"><br><br><br>
                        <span style="margin: auto; font-size:10px; text-align:left; width:50%; color:rgba(255,255,255,0.7);">© 2018. All rights reserved. <span class="white"><a href="#one"> PlystME</a></span></span>
                        
					</div>
                    
                    <div style="float:right;width:50%;position:relative;text-align:right; font-family: 'Quicksand', sans-serif;">
                        <h2 style="color:rgba(255,255,255,0.9); font-size:18px; margin-right: 5px;">Contacto</h2>
                        <span class="glyphicon glyphicon-envelope"></span><span style="display:inline-block; text-align:left;padding:5px;">--------- @ ---- .com</span><br>
                        <span class="glyphicon glyphicon-earphone"></span><span style="display:inline-block; text-align:left;padding:5px;">+52 1 55 33 33 33 33</span><br>
                    </div>
                    
				</div>			
			</div>
		</div>		
	</footer>