<title>Plyst Me</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="shortcut icon" href="/img/logo_Atmos.png">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/style/loader.css">
<meta http-equiv="Cache-control" content="no-store">

<link rel="manifest" href="/manifest.json">

<meta property="og:url" content="https://www.plystme.com">
<meta property="og:type" content="">
<meta property="og:title" content="Plyst Me - Playlists perfectas para todos">
<meta property="og:description" content="Creamos una playlist automáticamente para tu evento tomando en cuenta los gustos de todos tus invitados.">
<meta property="og:image" content="/img/backgroundNew.jpg">

<div class="be-loader">
    	<div class="spinner" style="text-align:center;">
			<img src="/img/logoAtmos.png"  alt="Atmos Logo" style="width:80%;">
			<!--<p class="circle">
			  <span class="ouro">
			    <span class="left"><span class="anim"></span></span>
			    <span class="right"><span class="anim"></span></span>
			  </span>
			</p>-->
    </div>
</div>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115050824-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-115050824-2');
</script>


<!-- Facebook metadata override -->



<script>
  window.fbAsyncInit = function() {
	FB.init({
	  appId            : '124285848214697',
	  autoLogAppEvents : true,
	  xfbml            : true,
	  version          : 'v2.10'
	});
	FB.AppEvents.logPageView();
  };
 
  (function(d, s, id){
	 var js, fjs = d.getElementsByTagName(s)[0];
	 if (d.getElementById(id)) {return;}
	 js = d.createElement(s); js.id = id;
	 js.src = "//connect.facebook.net/en_US/sdk.js";
	 fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
    
    
function shareOverrideOGMeta()
{
	FB.ui({
		method: 'share_open_graph',
		action_type: 'og.likes',
		action_properties: JSON.stringify({
			object: {
				'og:url': "https://www.plystme.com",
				'og:title': "Codigo del evento",
				'og:description': "nueva descripción",
				'og:image': "/img/backgroundNew.jpg"
			}
		})
	},
	function (response) {
	// Action after response
	});
}


</script>
