<!DOCTYPE html>
<html>

<head>
	<% include ../partials/header.ejs %>
</head>

<body>

	<!-- THE HEADER -->
	<% include ../pages/navbar.ejs %>
		<% include ../partials/footer.ejs %>

			<!-- MAIN CONTENT -->
			<div id="content-block">
				<div class="head-bg style-3 ab-us">
					<div class="swiper-container" data-autoplay="2000" data-loop="0" data-speed="500" data-center="0"
						data-slides-per-view="1">
						<div class="swiper-wrapper">
							<div class="swiper-slide head-bg-img" data-val="0">
								<img class="center-image" src="img/tractus.jpg" alt="">
							</div>

							<div class="swiper-slide head-bg-img" data-val="2">
								<img class="center-image" src="img/spotify.jpeg" alt="">
							</div>
							<div class="swiper-slide head-bg-img " data-val="1">
								<img class="center-image" src="img/" alt="">
							</div>
						</div>
						<div class="pagination hidden"></div>
					</div>
					<div class="head-bg-content">
						<h1>How IDGN works.</h1>
						<p>The magic of data describing your behaviour</p>

					</div>

				</div>
				<div class="container" style=" font-family: 'Source Code Pro', monospace; text-align: justify;">
					<div class="about-description">

						<div class="row">
							<div class="col-xs-12 col-md-10 col-md-offset-1">
								<h1 style="text-align:center;">INteractive Deep Immersion into non-GENeric Audio</h1>
								<br />
								<div style="font-size:150%;">
									As in a universe, music forms connections and develop structures independent and yet
									architected as a fractal, where the same fundamental rules maintain a common
									language.
									As a neural net storing memories, music stores human experiencies.
									<br>
									<br>
									<img class="img-responsive" src="img/spotify.jpeg" alt="">
									<br>
									Moving forward, social media has brought us the posibility of having immense amounts
									of data describing human patterns.<br />
									There are patterns written all over music. As music contains a sort of cultural and
									social DNA, we are able to know ourselfs through music.
									Knowing this statistics approach isn't perfect, Spotify has use the individual
									patterns each person records to recommend music.<br />
									<br>
									<img class="img-responsive" style="margin: 0 auto;"
										src="img/music_data_analisis.png" alt="">
									<span style="font-size: 70%; margin: 0 auto;">The data shown at the second column
										with the title <em>What statiscally you like</em> is an example of the kind of
										information spotify uses to recommend you music.</span>
									<br>
									<br>
									Spotify algorithms create virtual structures where people is only fed what they
									already like.
									Though is this capacity what really makes up for the 8 billion dollar value Spotify
									has, the system isn't perfect.
									<br><br>
									The anomaly ressembles an Echo Chamber as it reflectes what people listens back to
									them. This means people never listens to something really new because they are
									always fed familiar music.
									But Spotify isn't the first platform to present this feature. Almost any social
									media works through algorithms that feed people with content they already like.
									Thus creating informational bubbles like the one that took Trump to the presidency,
									echo chambers where people reflect themeselves, including their fears. As Adam
									Curtis says, in an age of individualization, we only feel safe with the reflections
									of ourselves.
									<br><br>
									<div class="container">
										<div class="row">
											<div class="col-lg-12 hidden-md hidden-sm hidden-xs">
												<iframe
													src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FVICE%2Fvideos%2F1414301661936421%2F&show_text=0&width=560"
													width="560" height="315"
													style="border:none; overflow:hidden; margin: 0 auto; text-align: center; margin-left:200px;"
													scrolling="no" frameborder="0" allowTransparency="true"
													allowFullScreen="true"></iframe>

											</div>
											<div class="hidden-lg col-md-12 hidden-sm hidden-xs">
												<iframe
													src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FVICE%2Fvideos%2F1414301661936421%2F&show_text=0&width=560"
													width="560" height="315"
													style="border:none; overflow:hidden; margin: 0 auto; text-align: center; margin-left:100px;"
													scrolling="no" frameborder="0" allowTransparency="true"
													allowFullScreen="true"></iframe>
											</div>
											<div class="hidden-lg hidden-md col-sm-12 hidden-xs">
												<iframe
													src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FVICE%2Fvideos%2F1414301661936421%2F&show_text=0&width=560"
													width="560" height="315"
													style="border:none; overflow:hidden; margin: 0 auto; text-align: center; margin-left:50px;"
													scrolling="no" frameborder="0" allowTransparency="true"
													allowFullScreen="true"></iframe>
											</div>
											<div class="hidden-lg hidden-md hidden-sm col-12-xs">
												<iframe
													src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FVICE%2Fvideos%2F1414301661936421%2F&show_text=0&width=360"
													width="360" height="315"
													style="border:none; overflow:hidden; margin: 0 auto; text-align: center; "
													scrolling="no" frameborder="0" allowTransparency="true"
													allowFullScreen="true"></iframe>
											</div>
											<div class="hidden-xs col-lg-12 col-md-12 col-sm-12"><br></div>
										</div>
									</div>
									The utopia of creating a new reality in a virtual space goes back to the funding of
									sillicon valley and the beginnings of the internet. For the technological utopian
									gathered in the west coast, a radical opportunity to be free from an insane world
									always in nuclear histeria was presented as the engineers and the entrepeuners
									created a new one. <br>
									<h2 style="text-align:center;"><a
											href="https://www.eff.org/es/cyberspace-independence" target="_blank">A
											virtual reality independent from the world.</a></h2>
									Nevertheless and no more accordingly to human nature, in an effort to create a
									sublime environment far away from the disconforts of real life, Social Media has
									become a prison on its own.
									The algorithms created to please the music taste of millions, have serious
									limitations that impoverishes the potential of databases as big and massive as the
									one Spotify owns.
									<h2 style="text-align:center;">IDGN wants to make music discovering great again!
									</h2>
									<p>Inspired by the technologic utopians of the nineties, IDGN aspires to break our
										Echo Chambers by recommending people new ways of discovering music, managing and
										controlling the algorithm that once chained us. </p>
									<br>
									<br>
								</div>
								<h2 style="text-align:center;">FAQ</h2>
								<br>
								<h3 style="text-align:center;">Is my data safe?</h3>
								<div class="about-text">This thing does NOT keep your data, you are safe with us.</div>
								<hr>
								<div class="about-text" style="font-size:150%;">For this beautiful web app we used the
									Spotify API. We request you to allow us have access to your data so we can make
									wonderful things with it.</div>
								<br>

								<h3 style="text-align:center;">How IDGN transforms my data?</h3>
								<div class="about-text">Spoiler alert: is amazing!</div>
								<hr>
								<img class="img-responsive col-lg-12" src="" alt="">
								<br />
								<div class="about-text" style="font-size:150%;">We take your data normalized and
									transform it so we can recomend something you wouldn't normally hear. Later, we tell
									spotify, Hey bro! please give me something cool to hear</div>
								<br>
								<h3 style="text-align:center;">How does IDGN recommend music?</h3>
								<hr>
								<div class="about-text" style="font-size:150%;">The seed let us recommend something you
									statiscally wouldn't hear and at the same time you'd like at least a bit!</div>
								<div class="about-text" style="font-size:150%;">A seed is a song you really really love!
								</div>
								<br>
								<h3 style="text-align:center;">What data IDGN request from Spotify?</h3>
								<hr>
								<div class="about-text" style="font-size:150%;">What we use is called Metadata, but WHAT
									THE HELL IS THAT? well, I won't explain it to you, go and <a
										href="https://developer.spotify.com/web-api/get-audio-features/"
										target="_blank">check it.</a></div>
								<br>
							</div>
						</div>
					</div>
				</div>

			</div>

			<% include ../partials/foot.ejs %>

				<div class="large-popup login">
					<div class="large-popup-fixed"></div>
					<div class="container large-popup-container">
						<div class="row">
							<div class="col-md-8 col-md-push-2 col-lg-6 col-lg-push-3  large-popup-content">
								<div class="row">
									<div class="col-md-12">
										<i class="fa fa-times close-button"></i>
										<h5 class="large-popup-title">Log in</h5>
									</div>
									<form action="./" class="popup-input-search">
										<div class="col-md-6">
											<input class="input-signtype" type="email" required=""
												placeholder="Your email">
										</div>
										<div class="col-md-6">
											<input class="input-signtype" type="password" required=""
												placeholder="Password">
										</div>
										<div class="col-xs-6">
											<div class="be-checkbox">
												<label class="check-box">
													<input class="checkbox-input" type="checkbox" value="" /> <span
														class="check-box-sign"></span>
												</label>
												<span class="large-popup-text">
													Stay signed in
												</span>
											</div>

											<a href="blog-detail-2.ejs" class="link-large-popup">Forgot password?</a>
										</div>
										<div class="col-xs-6 for-signin">
											<input type="submit" class="be-popup-sign-button" value="SIGN IN">
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="large-popup register">
					<div class="large-popup-fixed"></div>
					<div class="container large-popup-container">
						<div class="row">
							<div class="col-md-10 col-md-push-1 col-lg-8 col-lg-push-2 large-popup-content">
								<div class="row">
									<div class="col-md-12">
										<i class="fa fa-times close-button"></i>
										<h5 class="large-popup-title">Register</h5>
									</div>
									<form action="./" class="popup-input-search">
										<div class="col-md-6">
											<input class="input-signtype" type="text" required=""
												placeholder="First Name">
										</div>
										<div class="col-md-6">
											<input class="input-signtype" type="text" required=""
												placeholder="Last Name">
										</div>
										<div class="col-md-6">
											<div class="be-custom-select-block">
												<select class="be-custom-select">
													<option value="" disabled selected>
														Country
													</option>
													<option value="">USA</option>
													<option value="">Canada</option>
													<option value="">England</option>
												</select>
											</div>
										</div>
										<div class="col-md-6">
											<input class="input-signtype" type="text" required="" placeholder="Email">
										</div>
										<div class="col-md-6">
											<input class="input-signtype" type="text" required=""
												placeholder="Password">
										</div>
										<div class="col-md-6">
											<input class="input-signtype" type="text" required=""
												placeholder="Repeat Password">
										</div>
										<div class="col-md-12 be-date-block">
											<span class="large-popup-text">
												Date of birth
											</span>
											<div class="be-custom-select-block mounth">
												<select class="be-custom-select">
													<option value="" disabled selected>
														Mounth
													</option>
													<option value="">January</option>
													<option value="">February</option>
													<option value="">March</option>
													<option value="">April</option>
													<option value="">May</option>
													<option value="">June</option>
													<option value="">July</option>
													<option value="">August</option>
													<option value="">September</option>
													<option value="">October</option>
													<option value="">November</option>
													<option value="">December</option>
												</select>
											</div>
											<div class="be-custom-select-block">
												<select class="be-custom-select">
													<option value="" disabled selected>
														Day
													</option>
													<option value="">1</option>
													<option value="">2</option>
													<option value="">3</option>
													<option value="">4</option>
													<option value="">5</option>
													<option value="">6</option>
													<option value="">7</option>
													<option value="">8</option>
													<option value="">9</option>
													<option value="">10</option>
													<option value="">11</option>
													<option value="">12</option>
													<option value="">13</option>
													<option value="">14</option>
													<option value="">15</option>
													<option value="">16</option>
													<option value="">17</option>
													<option value="">18</option>
													<option value="">19</option>
													<option value="">20</option>
													<option value="">21</option>
													<option value="">22</option>
													<option value="">23</option>
													<option value="">24</option>
													<option value="">25</option>
													<option value="">26</option>
													<option value="">27</option>
													<option value="">28</option>
													<option value="">29</option>
													<option value="">30</option>
												</select>
											</div>
											<div class="be-custom-select-block">
												<select class="be-custom-select">
													<option value="" disabled selected>
														Year
													</option>
													<option value="">1996</option>
													<option value="">1997</option>
													<option value="">1998</option>
												</select>
											</div>
										</div>
										<div class="col-md-6">
											<div class="be-checkbox">
												<label class="check-box">
													<input class="checkbox-input" type="checkbox" required /> <span
														class="check-box-sign"></span>
												</label>
												<span class="large-popup-text">
													I have read and agree to the <a class="be-popup-terms"
														href="blog-detail-2.ejs">Terms of Use</a> and <a
														class="be-popup-terms" href="blog-detail-2.ejs">Privacy
														Policy</a>.
												</span>
											</div>
											<div class="be-checkbox">
												<label class="check-box">
													<input class="checkbox-input" type="checkbox" value="" /> <span
														class="check-box-sign"></span>
												</label>
												<span class="large-popup-text">
													Send me notifications
												</span>
											</div>
										</div>
										<div class="col-md-6 for-signin">
											<input type="submit" class="be-popup-sign-button" value="SIGN IN">
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="theme-config">
					<div class="main-color">
						<div class="title">Main Color:</div>
						<div class="colours-wrapper">
							<div class="entry color1 m-color active" data-colour="../../public/style/stylesheet.css">
							</div>
							<div class="entry color3 m-color" data-colour="../../public/style/style-green.css"></div>
							<div class="entry color6 m-color" data-colour="../../public/style/style-orange.css"></div>
							<div class="entry color8 m-color" data-colour="../../public/style/style-red.css"></div>
							<div class="title">Second Color:</div>
							<div class="entry s-color  active color10" data-colour="../../public/style/stylesheet.css">
							</div>
							<div class="entry s-color color11" data-colour="../../public/style/style-oranges.css"></div>
							<div class="entry s-color color12" data-colour="../../public/style/style-greens.css"></div>
							<div class="entry s-color color13" data-colour="../../public/style/style-reds.css"></div>

						</div>
					</div>
					<div class="open"><img src="img/icon-134.png" alt=""></div>
				</div>


</body>

</html>