<!DOCTYPE HTML>
<html>
<head>
    <title>Cliente MultiPool</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script> 
    <script type="text/javascript" charset="utf-8">
        //var coords = "19.34232:-99.1222"; las coordenadas se pueden guardar en variables y mandarlas al servidor
        //var coords = "1:1"
        var pos = {'lat' : 0.0, 'lng' : 0.0};
        var room = "";
        var posfija = {'lat' : 0.0, 'lng' : 0.0};


        $(document).ready(function() {
 
            namespace = '/test';


            /*
            var spotifyid = "####";
            var coords_actuales = "xx:yy"
            var coords_fiesta = ''
            if (coords_actuales != coords_fiesta){
                socket.emit('leave', {room: coords_fiesta, user: spotifyid});
            }
            */
//19.2833584, lng: -99.1400943
//19.283375799999998, lng: -99.14017199999999
            //19.2833605, lng: -99.1401082

            //     http[s]://<domain>:<port>[/<namespace>]
            var socket = io.connect('https://atmos-pool.mybluemix.net'+namespace); //server
            //var socket = io.connect('http://localhost:8080'+namespace); //local

            socket.on('connect', function() {
                socket.emit('my_event', {data: 'I\'m connected!'});
            });
            //Room es la llave para poder acceder a cada pool. 
            socket.on('room', function(msg) {
                console.log(msg.room);  //las resuestas del servidor en consola de cliente
                room = msg.room; //coordenadas recibidas del servidor, se guarda como variable global y se manda como parametro para join y leave, nombre del room
                console.log('La ubicación de la fiesta');
                console.log(room); 
                pos = {
                    'lat': 5.0,
                    'lng': 0.0
                }
                socket.emit('join', {room: room, position: pos,  user: $('#user').val()});
            });
            socket.on('my_response', function(msg) {
                console.log(msg);  //las resuestas del servidor en consola de cliente
                var room_local = msg.room
            });
            socket.on('playlist', function(msg){
                console.log(msg); // la playlist
                console.log('El arreglo de quien esta en la playlist');
            
            });

            $('form#join').submit(function(event) {
                pos = {
                    'lat': 5.0,
                    'lng': 0.0
                }
                socket.emit('getroom', {position: pos,  user: $('#user').val()}); //proceso para unirse a una fiesta  $('#join_room').val()
                return false;
                console.log(pos);
            });
            $('form#leave').submit(function(event) {
                pos = {
                    'lat': 5.0,
                    'lng': 0.0
                }
                socket.emit('leave', {room: room, user: $('#user_leave').val(), position: pos});//proceso para abandonar una fiesta
                return false;
            });
            $('form#create').submit(function(event){
                pos = {
                    'lat': 5.0,
                    'lng': 0.0
                }
                socket.emit('create_party',{room: $('#coordenates').val(),position: pos, user:$('#coordenates').val()});   
                return false;
                console.log('se creo fiesta', pos);
            });
            $('form#delete').submit(function(event){
                pos = {
                    'lat': 5.0,
                    'lng': 0.0
                }
                
                socket.emit('delete_party',{room: $('#coord_delete').val(),position: pos, user:$('#coord_delete').val()});//proceso para eliminar una fiesta
                return false;
                console.log('se elimino fiesta');
            });
        });
    </script>
</head>
<body>

    <h2>:</h2>
    <form id="join" method="POST" action='#'>
        
        <input type="text" name="user" id="user" placeholder="ID Spotify">
        <input type="submit" value="Join Party">
    </form>
    <form id="leave" method="POST" action='#'>
       
        <input type="text" name="user_leave" id="user_leave" placeholder="ID Spotify">
        <input type="submit" value="Leave Party">
    </form>
    <form id="create" method="POST" action="#">
        <input type="text" name="coordenates" id="coordenates" placeholder="user id">
        <input type="submit" value="Create Pool">
    </form>
    <form id="delete" method="POST" action="#">
        <input type="text" name="coord_delete" id="coord_delete" placeholder="user id">
        <input type="submit" value="Delete Pool">
    </form>
</body>
</html>