<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/header.ejs  %>
           <% include ../partials/footer.ejs  %>
		<!--[if lt IE 10]>
			<link rel="stylesheet" type="text/css" href="style/ie-9.css" />
		<![endif]-->		
		<!--[if lt IE 9]>
		    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	    <![endif]-->
        
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
         <script type="text/javascript" src="/script/Chart.js"></script>
        
        <link rel="preload" href="img/fondo2.jpg">
        <link rel="preload" href="img/fondo4.png">
        <link rel="preload" href="img/fondo7.png">
        <link rel="preload" href="img/fondo8.png">
        <link rel="preload" href="img/propuesta.jpg">
        
        <div id="mapa"></div>
        
    
       <script src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="/script/sistemaMultiplaylist.js"></script>
        
        
	</head>
    
<style>
    
    *{
         -webkit-appearance: none;-webkit-border-radius: 0px;
    }    
    
    #btnCrear:hover{
        background-color: #588b8b !important; 
    }
    
    #enterPool:hover{
        background-color: white !important; 
    }
    
    .timeFilter{
        transition: all 2s;
        -webkit-transition: all 1s;
    }
    
    .timeFilter:hover{
        color: white;
        cursor: pointer;
    }
    .filterSelected{
        color: white;
        background-color: #c8553d;
        border-radius:5px;
    }
    
    #mostrarUsuarios{
        cursor: pointer;
    }
    
    #nuevoPlaylist{
        -webkit-box-shadow: 4px 6px 57px 25px rgba(88,139,139,1);
        -moz-box-shadow: 4px 6px 57px 25px rgba(88,139,139,1);
        box-shadow: 4px 6px 57px 25px rgba(88,139,139,1);
        font-weight: 500;
        display:none;
    }
    
    #nombrarPlaylist{
        -webkit-box-shadow: 4px 6px 57px 25px rgba(88,139,139,1);
        -moz-box-shadow: 4px 6px 57px 25px rgba(88,139,139,1);
        box-shadow: 4px 6px 57px 25px rgba(88,139,139,1);
        font-weight: 500;
        display:block;
        width:50%; 
        right:25%; 
        font-size:1.5em; 
        background-color:white; 
        height: auto; 
        padding: 10px 10px;        
        text-align:center;
        margin: 0 auto;
    }
    
    .infoVariables div i{
        float:right;
        margin-right:5px;
    }
    
    .variableInfo{
        width:100%;
        border-bottom:1px solid white; 
        display:none;
        background-color:white;
        padding: 10px 0;
        transition: all ease;
    }
    
    .variableInfo p{
        width:70%;
    }
    
    .variableDesplegable{
        border-bottom:1px solid #fff; 
        width:100%;
        height:40px; 
        padding-top: 10px;
        cursor:pointer;
        font-weight:700;
    }
    
    @media screen and (max-width:600px){
        #listaEventos{
            width:75% !important;
        }
        
        .eventosDisponibles{
            font-size:20px;
        }
        
        #compartir{
            top: 230px !important;
        }
    }
    
    @media screen and (max-width:550px){
        #btnCrear2, #enterPool2{
            width: 90% !important;
        }    
    }
    
    @media screen and (max-width:500px){
        #usuariosDentro2{
            width: 80% !important;
        }
    }
    
    input::placeholder {
        color:grey;
        font-size: 14px;
        margin-bottom: 10px;
    }
    
    .eventosDisponibles{
        border-top:1px solid black;
        cursor: pointer;
        background-color: rgba(255,255,255,0.8);
        padding: 10px 0;
    }
    
    #compartir{
        width:50px;
        position: fixed;
        left: 0;
        top: 160px;
    }
       
</style>
    
	<body class="page-login"  >

        
        <div id="fondoIphone" style="display: block; width:100%; position:fixed; top:0; bottom:0; background: url('img/fondo2.jpg') no-repeat; z-index:-1000; background-size:cover; background-position:center;"></div>
        
        <div style="height:25px;background-color:rgba(255,255,255,0.6);display:none; float:right; margin-top:250px; position:fixed; right:5px; color:black; font-family: 'Quicksand', serif; text-align: center; font-size:15px; border-radius:5px; z-index:100; padding:0 5px" id="mensajeNuevoUsuario"><i class="fas fa-user-plus" style="margin-right: 5px;"></i>Nuevo usuario</div>
        
        <div style="display:none;width:50px;z-index:100;" id="compartir">
            
            <p style="width:100%; text-align:center; background-color: rgba(255,255,255,0.8);font-size:10px; border-radius: 0 5px 0 0; margin:0;">Compartir código</p>
            <a href="whatsapp://send?text=Hola, únete a mi evento en https://www.plystme.com con el siguiente código: " id="whatsappShare" data-action="share/whatsapp/share" style="text-align:center;"><i class="fab fa-whatsapp" style="color:white;font-size:40px; background-color: #25d366; width:50px; padding: 5px 0; border-radius:0 0 5px 0;"></i></a>
        </div>
        
        
        
        
	<!-- THE HEADER -->
	<header>
		<% include ../pages/navbar.ejs %>
	</header>	 

        
	<!-- MAIN CONTENT -->
	<div id="content-block" style="margin-top:0px;">
        <div style="width:100px; height:100px;background-color:white; display:none" id="mostrarEnIpad"></div>
		<div class="container be-detail-container" style="margin-top:20px;">
			<div class="row">
				
                
				<div class="col-xs-12 col-md-10 col-lg-8" style="margin: 0 auto; align-items:center; float:inherit;" align="center">
                    <div class="tab-wrapper style-1" style="margin: 0 auto;" >
                        
                        <div class="container-fuild tabs-content clearfix">
                           
                            <div>
                             
                                
                                <div class="tab-info"  id="perfilTab">

                                    
								<div class="row">
                                    
                                    <div class="col-xs-12 col-md-12 col-lg-12 left-feild" >
					<div class="be-user-block style-3" style="background-color: rgba(255,255,255,0.5); border-radius:5px;">
						<div class="be-user-detail">
							<a class="be-ava-user style-2" >
                                <% if(imagen_url){ %>
                                    <img src="<%=imagen_url%>" style="border-radius:5px;"  alt=""> 
                              <%  }else{ %>
                                    <img src="img/Perfil.png" style="border-radius:5px; "  alt=""> 
                               <% } %>
								
							</a>
							<!-- <a class="be-ava-left btn color-1 size-2 hover-1" href="author-edit.ejs"><i class="fa fa-pencil"></i>Edit</a 
							<div class="color-4 size-2 hover-7">
								
							</div>-->
							<p class="be-use-name"><%= nombre %></p>
							<div class="be-user-info" style="color:black;">
								<%= pais%>
							</div>
						</div>
						<div class="be-user-statistic" style="border-radius:5px;">
							
							<div class="stat-row clearfix"  style="background-color:#d5573b; border-radius:5px;"><i class="fas fa-users" style="font-size:20px;"></i>   Seguidores de Spotify<span class="stat-counter" style="color:white;"> <%=followers%></span></div>
							
						</div>
					</div>
                    									
				</div>
            
                <div class="clearfix"></div>
                <div class="col-md-12"> <br>
					
                     <h2 style="text-align: center; font-family: 'Quicksand', serif; background-color: #c8553d; border-radius:5px; margin-top:0; color:#FFF;">Perfil</h2>
                    
                        <br/>
                                            
                        <canvas id="myChart" width="100%" height="100%" style="background-color:rgba(255, 255, 255, 0.5); border-radius:5px; max-width:800px; margin: 0 auto;"></canvas>
                                            <br> 
                    
                    <!--<table class="table" style="background-color: rgba(255,255,255,0.5); border-radius:5px; margin-bottom:20px;">
                        <thead>
                            <tr>
                                <th>Variables Promedio</th>
                                <td>Tu Perfil Musical</td>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="tono">
                            </tr>
                            <tr id="vol">
                               
                            </tr>
                            <tr id="modo">
                            </tr>
                            
                            <tr id="tempo">
                                
                            </tr>
                            <tr id="duracion">
                                
                            </tr>
                            <tr id="beats">
                                
                            </tr>
                        </tbody>
                    </table>-->	
                                            
                            <div style="background-color:rgba(255,255,255,0.5); width:100%; ;margin-bottom:20px; border-radius:5px;" class="infoVariables">
                                <div class="variableDesplegable" id="varDanza">Danzabilidad<i class="fas fa-plus"></i></div>
                                <div class="variableInfo">
                                    <p>Esta variable describe que tan "bailable" es la canción, basado en un conjuto de elementos musicales como el tempo, la estabilidad rítmica, la potencia de los beats y su regularidad general. Un valor de 0 representa nada bailabre y un 100 es muy bailable.</p>
                                </div>
                                
                                <div class="variableDesplegable" id="varEnergia">Energía promedio<i class="fas fa-plus"></i></div> 
                                <div class="variableInfo">
                                    <p>Energía es una medida del 0 al 100 y representa una medición perceptual de la intensidad y que tan activa es la canción. Generalmente los tracks con alta energía se perciben rápidos, intensos y ruidosos. Por ejemplo, el death metal tiene una energía alta, mientras que Bach en general tiene un valor bajo en esta escala.</p>
                                </div>
                                
                                <div class="variableDesplegable" id="varPopularidad">Popularidad<i class="fas fa-plus"></i></div>  
                                <div class="variableInfo">
                                    <p>Nivel de popularidad de la canción basado en el número de reproducciones que tiene a nivel global. Toma en cuenta parámetros como el número de seguidores del artista y personas que han escuchado la canción.</p>
                                </div>
                                
                                <div class="variableDesplegable" id="varAcustica">Música acústica<i class="fas fa-plus"></i></div>  
                                <div class="variableInfo"><p>Medida del 0 al 100 que mide el nivel de instrumentos acústicos utilizados en la canción. El 100 representa que la pieza es interpretada totalmente con instrumentos acústicos.</p>
                                </div>
                                
                                <div class="variableDesplegable" id="varInstrumentalidad">Instrumentalidad<i class="fas fa-plus"></i></div>
                                <div class="variableInfo">
                                    <p>Predice si un track contiene lineas vocales o no. El rap o los generos con niveles altos de música hablada se clasifican como "vocales". Este valor va del 0 al 100. Mientas mayor sea el valor, menor la cantidad de habla o "vocal" que se tiene.</p>
                                </div>
                                
                                <div class="variableDesplegable" id="varVivo">Música en vivo<i class="fas fa-plus"></i></div> 
                                <div class="variableInfo">
                                    <p>Detecta la presencia de audiencia en la grabación. Mientras mayor sea el nivel de música en vivo representa mayor probabilidad de que sea una presentación en vivo. Un valor mayor a 80 indica casi de forma segura que el track fue grabado en vivo.</p>
                                </div>
                                
                                <div class="variableDesplegable" style="border-bottom:none;" id="varPositivismo">Positivismo<i class="fas fa-plus"></i></div>  
                                <div class="variableInfo">
                                    <p>Valor del 0 al 100 que describe que tan positiva es la canción. Los tracks con un índice de positivismo alto se identifican como más felices, eufóricos y agradables, mientras que los tracks con valores bajos de positivismo se identifican como más tristes o depresivos.</p>
                                </div>
                            
                            </div>                
                                            
                            
									</div>
								</div>
                            </div>
                                
                            </div>
                            
                            <div class="tab-info " id="topTab"> 
                                
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            
                            <!--<h2 style="text-align:center; font-family: 'Quicksand', sans-serif; margin-bottom:5px; margin-top:0px; color:#FFF; font-size: 40px; background-color: #5296B9; border-radius:5px 5px 0 0; padding-bottom:5px;">
                                Top 50
                                <div style="float: right; background-color:#5296B9; font-size:30px; cursor: pointer;" id="guardarTOP50">
                                    <i class="fas fa-arrow-down"></i>
                                </div>
                            </h2>-->
                            
                            <h2 style="">
                                
                                <div style="text-align:center; font-family: 'Quicksand', sans-serif; margin-bottom:5px; margin-top:0px; color:#FFF; font-size: 40px; background-color: #5296B9; border-radius:5px 5px 0 0; padding-bottom:5px;">
                                    <p style="margin-bottom:0px;">Top 50</p>
                                    <!--<span class="glyphicon glyphicon-download-alt" style="float: right;margin:-37px 12px 0 0;font-size: 20px;cursor:pointer;" id="guardarTOP50"></span>-->
                                    <i class="far fa-arrow-alt-circle-down" style="font-size:30px; cursor:pointer; float:right; margin:-34px 15px 0 0" id="guardarTOP50"></i>
                                    <i class="fab fa-spotify" style="float:right; font-size:15px;margin:-15px 12px 0 0; color:#1db954;background-color:black;border-radius:50%;"></i>
                                    
                                </div>
                            </h2>
                            
                            <div style="background-color:black; border-radius: 0 0 5px 5px; margin-bottom:10px; color: #ccc;background-color: rgba(82,150,185,0.8); font-size:15px;">
                                
                                <div style="width:32%; display:inline-block;padding:5px 0" class="timeFilter filterSelected" id="short_term">1 Mes</div>
                                <div style="width:32%; display:inline-block;padding:5px 0" class="timeFilter" id="medium_term"> 6 Meses</div>
                                <div style="width:32%; display:inline-block;padding:5px 0" class="timeFilter" id="long_term"> +12 Meses</div>
                                
                            </div>
                            
                               
                            
                            <br>
                            
                        </div> 
                                
                                
                            <div class="row" style="margin-bottom:100px;" id="topDefault">
                                <div class="top">
                                
                                
                                </div> 
                                
                                </div>
                            </div> 
                            
                           
                            
                            
                           <div class="tab-info active" id="fiestaTab" style="margin-top:20px;">
								<div class="row" style="margin-bottom:100px;">
                                    <div class="col-lg-12 col-md-12 hidden-xs hidden-sm">
                            
                                        <h2 style="text-align:center; font-family: 'Quicksand', sans-serif; margin-bottom:10px; margin-top:0px; color:#FFF; font-size: 40px; background-color: #588b8b; border-radius:5px; padding-bottom:5px;" id="tituloPlaylist">Playlist<br><div style="display:none; font-size:20px;font-family: 'Roboto Mono', monospace;" id="codigoMuestra">Código: <div id="codigoMostrado" style="display: inline-block;"></div> </div></h2>
                                        
                                        <span id="createPlaylist" style="display:none;cursor:pointer;">
                                            <i class="far fa-arrow-alt-circle-down" style="font-size:30px; cursor:pointer; float:right; margin:-47px 15px 0 0;color:white;"></i>
                                            <i class="fab fa-spotify" style="float:right; font-size:15px;margin:-27px 12px 0 0; color:#1db954;background-color:black;border-radius:50%;"></i>
                                        </span>
                                        <br>
                                        
                                        
                                        <div id="usuariosDentro" style="width:40%; background-color:white; border-radius:5px; display:none; padding: 5px 0 0 0;" >
                                        
                                            Usuarios dentro <div style="background-color:#588b8b;border-radius:50%; color:white; width:20px; display:inline-block; margin-bottom: 5px; " id="contadorU"></div>
                                            <i class="fas fa-chevron-circle-down" id="mostrarUsuarios"></i>
                                            
                                            <div style="width:100%; height: 30px; background-color:#588b8b; border-radius: 0 0 5px 5px; padding: 5px 0;" id="usuariosFotos"></div>
                                           
                                        </div>
                                        
                                        <br>
                                        
                                        
                                            
                                        <div style="width:33%;"></div>
                                        
                                        <!-- Ya no se despliega el botón de actualizar dado que el proceso se hace automáticamente, por lo tanto su propiedad DISPLAY siempre se mantendrá en NONE-->
                                        <button  type="submit" value="Submit" class="be-button-vidget" style="margin: 0 auto; width:49%; border:none; background-color:#FFF;display:none !important; color:#588b8b;" id="btnActualizar">
                                        </button>

                                        <button  type="submit" value="Submit" class="be-button-vidget" style="margin: 20px auto 0 auto; width:40%; border:none; background-color:#FFF;display:none; color:#900; border-radius:30px" id="salirPlaylist">
                                                SALIR
                                        </button>
                                            
                                        
                                        
                                        <br>
                                        
                                        <div id="mensajeUbicacion" style="color:black; font-size:40px; background-color:white; font-family:'Quicksand',sans-serif; display:none; margin-top:-30px;">¿Dónde es tu fiesta?</div>
                                        
                                        <div id="map" style="height:350px; display:none;"></div>
                                        
                                        <button id="fijarUbicacion" style="Width:300px; height:50px; background-color:#588b8b; border-radius:30px; margin-top:20px; display:none; font-size:20px; color:white; font-family:'Quicksand', sans-serif;">Fijar ubicación</button>
                                        
                                        <br>
                                        
                                        <!-- Botón "REGRESAR" de la pantalla de mapa en el pool en patalla grande -->
                                        
                                        <button  type="submit" value="Submit" class="be-button-vidget" style="margin: 0 auto; width:40%; border-radius:30px; background-color:#FFF; display:none; color:#900;" id="btnRegresar"> 
                                            Regresar
                                        </button>
                                        
                                        <!-- Botón "ELIMINAR" pool del HOST, regresa a la pantalla principal para crear nueva playlist -->
                                                                                
                                        <button  type="submit" value="Submit" class="be-button-vidget" style="margin: 0 auto 20px auto; width:40%; border-radius:30px; background-color:#FFF; display:none; color:#900;" id="EliminarPlaylist"> 
                                            ELIMINAR
                                        </button>
                                        
                                        <button  type="submit" value="Submit" class="be-button-vidget " style="width:49%;height:250px; background-color:rgba(88, 139, 139, 0.85);border-radius:5px; border: 3px solid white; color:white; display:inline-block;" id="btnCrear">
                                            
                                            <i class="fas fa-plus-square" style="margin-top:10px;  font-size:80px;"></i>

                                            <p style="font-size:30px; margin-top:20px;">Crea una playlist</p>
                                        </button>
                                        
                                        <button  type="submit" value="Submit" class="be-button-vidget " style="width:49%;height:250px; background-color:rgba(255,255,255,0.85);border-radius:5px; border: 3px solid #588b8b; color:#588b8b; display:inline-block;"  id="enterPool">
                                            <i class="fas fa-users" style="margin-top:10px;  font-size:80px;"></i>

                                            <p style="font-size:30px; margin-top:20px;">Entra a una playlist</p>
                                        </button>
                                        
                            <!-- DIV con los elementos al ingresar a la pantalla de ENTRAR -->
                                        <div style="position:relative; padding-top:20px; display: none; font-family: 'Quicksand', sans-serif; font-size:30px;" id="entrar">
                                                                                          

                                                 <button  type="submit" value="Submit" class="be-button-vidget" style="width:49%; height:250px; background-color:rgba(255,255,255,0.85); border-radius:30px; border: 3px solid #588b8b; color:#588b8b; display:inline-block; margin-top:0px; float:left;"  id="entrarUbicacion">
                                                    <i class="fas fa-map-marker" style="margin-top:10px; font-size:80px;"></i>
                                                    <p style="margin-top:10px;">Entrar con geolocalización</p>

                                                </button>
                                            
                                            <div style="background-color: rgba(255,255,255,0.85); border-radius:30px; width:49%; height: 250px; border-radius:30px; border: 3px solid #588b8b; color:#588b8b; display:inline-block;">
                                                 
                                            <form>
                                                <input type="text" id="codigo" class="form-control" aria-describedby="helpBlock" style="width:49%; height:50px; font-size:45px; margin-top:40px; text-align:center;font-family: 'Roboto Mono', monospace; vertical-align: middle;" placeholder="Ingresa tu código">
                                                <!--
                                                <button type="button" class="btn btn-default" style="margin-top:20px; width:105px;" id="formCancelar">Cancelar</button>-->                                                <button type="button" class="btn btn-primary" style="margin-top:20px; width:25%; background-color:#588b8b; align:center; margin-right:0px !important;" id="entrarEvento">Entrar</button>
                                                <p style="margin-top: 20px;">Entrar con código</p>
                                            </form>
                                            
                                            </div>
                                            <br>
                                            <button  type="submit" value="Submit" class="be-button-vidget" style="margin: 20px auto 0 auto; width:40%; border:none; background-color:#FFF; color:#588b8b; border-radius:30px; font-size: 20px;" id="regresarDeEntrar">
                                                REGRESAR
                                            </button>
                                                                                       
                                        </div>
                                    
                            
                            <!-- DIV con los elementos al ingresar a la pantalla de CREAR -->
                                        <div style="position:relative; padding-top:20px; display: none; font-family: 'Quicksand', sans-serif; font-size:30px;" id="crear">
                                                                                          

                                            <button  type="submit" value="Submit" class="be-button-vidget" style="width:49%; height:250px; background-color:rgba(255,255,255,0.85); border-radius:30px; border: 3px solid #588b8b; color:#588b8b; display:inline-block; margin-top:0px; float:left;"  id="crearUbicacion">
                                                    <i class="fas fa-map-marker" style="margin-top:10px; font-size:80px;"></i>

                                                    <p style="margin-top:10px;">Crear evento por geolocalización</p>

                                             </button>
                                                 
                                            <button  type="submit" value="Submit" class="be-button-vidget" style="width:49%; height:250px; background-color:rgba(255,255,255,0.85); border-radius:30px; border: 3px solid #588b8b; color:#588b8b; display:inline-block; margin-top:0px; float:right;"  id="crearCodigo">
                                                        <i class="fas fa-hashtag" style="margin-top:10px; font-size:80px;"></i>
                                                        <p style="margin-top:10px;">Crear evento por código</p>
                                            </button>
                                            <br>
                                            <button  type="submit" value="Submit" class="be-button-vidget" style="margin: 20px auto 0 auto; width:40%; border:none; background-color:#FFF; color:#588b8b; border-radius:30px; font-size: 20px;" id="regresarDeCrear">
                                                REGRESAR
                                            </button>
                                                                                       
                                        </div>
                                        
                                       
                                        
                                    </div> 
                                    
                                    <!-- Versión celular del pool -->
                                    
                                    <div class="hidden-lg hidden-md col-sm-12 col-xs-12">
                            
                                        <h2 style="text-align:center; font-family: 'Quicksand', sans-serif; margin-bottom:0px; margin-top:0px; color:#FFF; font-size: 40px; background-color: #588b8b; border-radius:5px; padding-bottom:5px;">Playlist<br><div style="display:none; font-size:20px;font-family: 'Roboto Mono', monospace;" id="codigoMuestra2">Código: <div id="codigoMostrado2" style="display: inline-block;"></div></div></h2>
                                        
                                        <span id="createPlaylist2" style="display:none; cursor:pointer;">
                                            <i class="far fa-arrow-alt-circle-down" style="font-size:30px;float:right; margin:-38px 15px 0 0;color:white;"></i>
                                            <i class="fab fa-spotify" style="float:right; font-size:15px;margin:-18px 12px 0 0; color:#1db954;background-color:black;border-radius:50%;"></i>
                                        </span>
                                            
                                        <br>
                                        
                                        <div id="usuariosDentro2" style="width:60%; background-color:white; border-radius:5px; display:none; padding: 5px 0 0 0;" >
                                        
                                            Usuarios dentro <div style="background-color:#588b8b;border-radius:50%; color:white; width:20px; display:inline-block; margin-bottom: 5px;" id="contadorU2"></div>
                                            <i class="fas fa-chevron-circle-down"></i>
                                            
                                            <div style="width:100%; height: 30px; background-color:#588b8b; border-radius: 0 0 5px 5px; padding: 5px 0;" id="usuariosFotos2">
                                            </div>
                                            
                                            
                                            
                                            
                                            
                                        </div>

                                        <br>
                                        
                                        <button  type="submit" value="Submit" class="be-button-vidget" style="margin: 0 auto; width:50%; border:none; background-color:#FFF;display:none; color:#588b8b;" id="btnActualizar2"></button>
                                            
                                        <button  type="submit" value="Submit" class="be-button-vidget" style="margin: 0 auto; width:50%; border:none; background-color:#FFF;display:none; color:#900; border-radius:30px;" id="salirPlaylist2">
                                            SALIR
                                        </button>
                                        
                                        <!--<button  type="submit" value="Submit" class="be-button-vidget" style="margin: 0 auto; width:80%; border:none; background-color:#FFF;display:none; color:#588b8b;" id="createPlaylist2">
                                            <i class="far far fa-save" style="font-size:20px; color:#588b8b; margin-left:5px;"></i> Guardar Playlist En Spotify 
                                        </button>-->
                                        
                             <!-- Fijar ubicación en modo celular -->
                                        
                                        <br>
                                        
                                         <div id="mensajeUbicacion2" style="color:white; font-size:30px; background-color:none; font-family:'Quicksand',sans-serif; display:none; margin-top:-30px;">¿Dónde es tu fiesta?</div><br>
                                        
                                        <div id="map2" style="height:300px; display:none;"></div>
                                        
                                        <button id="fijarUbicacion2" style="Width:50%; height: 50px; background-color:#588b8b; border-radius:30px; margin:20px 0; display:none; font-size:20px; color:white; font-family:'Quicksand', sans-serif;">Fijar ubicación</button>
                                            
                                        
                                        <button  type="submit" value="Submit" class="be-button-vidget" style="margin: 0 auto; width:50%; border-radius:30px; background-color:#FFF; display:none; color:#900;" id="btnRegresar2"> 
                                            Regresar
                                        </button>
                                            
                                        <button  type="submit" value="Submit" class="be-button-vidget" style="margin:-10px auto 10px; width:50%; border-radius:30px; background-color:#FFF; display:none; color:#900;" id="EliminarPlaylist2"> 
                                            ELIMINAR
                                        </button>
                                        
                                        <!-- Termina sección mapa -->
                                        <!-- Versión móvil --->
                                        
                                        <button  type="submit" value="Submit" class="be-button-vidget " style="width:55%;height:250px; background-color:rgba(88, 139, 139, 0.85);border-radius:5px; border: 3px solid white; color:white; margin:-40px 0 20px 0;" id="btnCrear2">
                                            
                                            <i class="fas fa-plus-square" style="margin-top:10px;  font-size:80px;"></i>

                                            <p style="font-size:30px; margin-top:20px;">Crea una playlist</p>
                                        </button>
                                        
                                        <button  type="submit" value="Submit" class="be-button-vidget " style="width:55%;height:250px; background-color:rgba(255,255,255,0.85);border-radius:5px; border: 3px solid #588b8b; color:#588b8b;" id="enterPool2">
                                            <i class="fas fa-users" style="margin-top:10px;  font-size:80px;"></i>

                                            <p style="font-size:30px; margin-top:20px;">Entra a una playlist</p>
                                        </button>
                                        
                                <!-- DIV de elementos al ENTRAR a fiesta para celular -->
                                            
                                        <div id="entrar2" style="display:none">
                                            
                                            <button  type="submit" value="Submit" class="be-button-vidget" style="width:90%; height:250px; background-color:rgba(255,255,255,0.85); border-radius:30px; border: 3px solid #588b8b; color:#588b8b; margin:0px 0 20px 0;" id="entrarUbicacion2">
                                                    <i class="fas fa-map-marker" style="margin-top:10px; font-size:80px;"></i>
                                                    <p style="margin-top:10px; font-size:30px;">Entrar con geolocalización</p>
                                            </button>
                                            
                                            <div style="width:90%; height:250px; background-color:rgba(255,255,255,0.85); border-radius:30px; border: 3px solid #588b8b; color:#588b8b; margin:0px 0 0px 0;">
                                                <form>
                                                    <input type="text" id="codigo2" class="form-control" aria-describedby="helpBlock" style="width:49%; height:70px; font-size:35px; margin-top:20px; text-align:center;font-family: 'Roboto Mono', monospace; vertical-align: middle;" placeholder="Código">
                                                    <button type="button" class="btn btn-primary" style="margin:20px 0; width: 50%; background-color:#588b8b; align:center; margin-right:0px !important;" id="entrarEvento2">ENTRAR</button>
                                                    <p style="font-size: 30px; width:80%;">Entrar con código</p>
                                                 </form>
                                            </div>
                                            
                                            <button  type="submit" value="Submit" class="be-button-vidget" style="margin: 20px auto 0 auto; width:40%; border:none; background-color:#FFF; color:#588b8b; border-radius:30px; font-size: 15px;" id="regresarDeEntrar2">
                                                REGRESAR
                                            </button>
                                            
                                        </div>
                                        
                                        
                                        
                                <!-- DIV de elementos al CREAR a fiesta para celular -->
                                            
                                        <div id="crear2" style="display:none">
                                            
                                            <button  type="submit" value="Submit" class="be-button-vidget" style="width:90%; height:250px; background-color:rgba(255,255,255,0.85); border-radius:30px; border: 3px solid #588b8b; color:#588b8b; margin:0px 0 20px 0;" id="crearUbicacion2">
                                                    <i class="fas fa-map-marker" style="margin-top:10px; font-size:80px;"></i>
                                                    <p style="margin-top:10px; font-size:30px;">Crear evento con geolocalización</p>
                                            </button>
                                            
                                            <button  type="submit" value="Submit" class="be-button-vidget" style="width:90%; height:250px; background-color:rgba(255,255,255,0.85); border-radius:30px; border: 3px solid #588b8b; color:#588b8b; margin:0px 0 20px 0;" id="crearCodigo2">
                                                    <i class="fas fa-hashtag" style="margin-top:10px; font-size:80px;"></i>
                                                    <p style="margin-top:10px; font-size:30px;">Crear evento con código</p>
                                            </button>
                                            
                                            <button  type="submit" value="Submit" class="be-button-vidget" style="margin: 20px auto 0 auto; width:40%; border:none; background-color:#FFF; color:#588b8b; border-radius:30px; font-size: 15px;" id="regresarDeCrear2">
                                                REGRESAR
                                            </button>
                                            
                                        </div>
                                           
                                    </div>
                                    
                                    
                                    <div id="canvas">
                                        <div class="pool"></div>
                                    </div>
                                    
								</div>
                            </div>
                            
                            
                            <div class="tab-info" id="ajustesTab">
								<div class="row">
								    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            
                                        <h2 style="text-align:center; font-family: 'Quicksand', sans-serif; margin-bottom:10px; margin-top:0px; color:#FFF; font-size: 40px; background-color: #d5573b; border-radius:5px; padding-bottom:5px;">Ajustes</h2>
            
                                    </div>
								</div>
                            </div>
                            
                            
                            
                        </div>
                    
                    
                        <div class="tab-nav-wrapper" style="position:fixed; left:0; bottom:0; z-index:10; width:100%;">
                                <div  class="nav-tab  clearfix" style="width:100%;">
                                   
                                        <div class="row" style="width:100%; margin:0; text-align:center;">
                                            
                                                                                      
                                            <div class="col-xs-6" style="width:33.333%; margin:0; padding:0;">
                                                <div class="nav-tab-item col-xs-6" style="width:100%; margin:0; padding:0;" id="btnPerfil">
                                                    <span style="padding:10px 0 0 0;"><i class="fas fa-user" style="font-size:20px; color:#c8553d"></i></span>
                                                    <span style="font-size:10px; padding:5px 0 5px 0;color:#c8553d">Perfil</span>
                                                </div>
                                            </div>
                                            <div class="col-xs-6" style="width:33.333%; margin:0; padding:0;">
                                                <div class="nav-tab-item  " style="width:100%; margin:0; padding:0;" id="btnTop50">
                                                    <span style="padding:10px 0 0 0;"><i class="fas fa-music" style="font-size:20px; color:#5296B9"></i></span>
                                                    <span style="font-size:10px; padding:5px 0 5px 0;color:#5296B9">Top 50</span>
                                                </div>
                                            </div>  
                                            <div class="col-xs-6" style="width:33.333%; margin:0; padding:0;">
                                                <div class="nav-tab-item col-xs-6 active" style="width:100%; margin:0; padding:0;" id="btnFiesta">
                                                    <span style="padding:10px 0 0 0;"><i class="far fa-play-circle" style="font-size:20px; color:#588b8b"></i></span>
                                                    <span style="font-size:10px; padding:5px 0 5px 0;color:#588b8b">Playlist</span>
                                                </div>
                                            </div> 
                                            <!--<div class="col-xs-6" style="width:25%; margin:0; padding:0;">
                                                <div class="nav-tab-item col-xs-6 " style="width:100%; margin:0; padding:0;" id="btnAjustes">
                                                    <span style="padding:10px 0 0 0;"><i class="fas fa-cogs" style="font-size:20px; color:#d5573b"></i></span>
                                                    <span style="font-size:10px; padding:5px 0 5px 0;color:#d5573b">Ajustes</span>
                                                </div>
                                            </div> -->
                                    </div>
                                        
                        </div>
                         </div>
                    </div>				
				</div>				
			</div>
            
		</div>
	</div>
            
    <!-- Cuadro de despliegue con la lista de los eventos disponibles en una misma ubicación -->
        <div id="listaEventos" style="color:black; font-size:25px; background-color:#588b8b; font-family:'Quicksand',sans-serif; display:none; border-radius:20px;margin: -150px auto 0 auto;width: 50%;text-align: center; overflow:hidden;">
            <h1 style="color:white; margin-top:10px !important;"><strong>Eventos disponibles:</strong></h1>

        </div>
        
        <div class="alert2 alert-dismissable fade in" id="actualizacion" style="display:none; width:80%; height:80px; background-color: white; font-family: 'Lato', sans-serif; font-size:130%; margin: 0 auto; border-radius:5px;">
            <strong>Se actualizó tu playlist </strong> en Spotify
        </div>

        <div class="alert2 alert-dismissable fade in" id="floating_alert" style="display:none; width:80%; height:80px; background-color: white; font-size:20px; margin: 0 auto; border-radius:25px;">
            El playlist se guardó como PlystMe en Spotify
        </div>
        
        <!-- DIV para que el usuario pueda ingresar el nombre que desea para la playlist, sus estilos están en la línea 74 de esta página -->
        <div id="nombrarPlaylist" style="display:none;">
            Guardar playlist en Spotify como: 
            <form>
            <br>
            <input type="text" id="codigo" style="width:49%; height:30px; font-size:25px; text-align:center;font-family: 'Roboto Mono', monospace; vertical-align: middle;" placeholder="Nombre de la playlist"><br>
            <button  style="margin-top:20px; width:25%; background-color:#588b8b; align:center; color:white;" id="guardarPlaylist">GUARDAR</button>
            </form>
        </div>
        
        <!--<div class="alert2 alert-dismissable fade in" id="topguardado" style="display:none; width:80%; height:80px; background-color: white; font-family: 'Lato', sans-serif; font-size:130%; margin: 0 auto; border-radius:5px;">
            <strong>El TOP 50 se guardó </strong> en Spotify
        </div>-->
        
        <div class="alert2 alert-dismissable fade in" id="ActualizacionTop" style="display:none; width:80%; height:80px; background-color: white; font-family: 'Lato', sans-serif; font-size:130%; margin: 0 auto; border-radius:5px;">
            <strong>Se actualizó el TOP 50 </strong> en Spotify
        </div>
        
        
        <div style="width:50%; right:25%; font-size:1.5em; background-color:white; height: auto; padding: 20px 5px;" id="nuevoPlaylist">
            
            Actualizando playlist...
            
        </div>
        
    
            
   
            
	<div class="be-fixed-filter"></div>
	

            
	</body>
        
</html>

<!-- Modularización de procesos de comunicación entre servidor y cliente relacionados con creación de playlists y obtención de perfil de preferencias -->
<script type="text/javascript" src="/script/procesosServidorCliente.js"></script> 


    

    <!-- LINKS PARA MAPA y para SOCKETS -->
    <script type="text/javascript" src="/script/botones.js"></script> 









